<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 비밀번호찾기</title>
<script type="text/javascript">
	function check(){
		if(document.form.email.value==""){
			alert("이메일을 입력해주세요");
			document.form.email.focus();
		}else if(document.form.name.value==""){
			alert("비밀번호를 입력해주세요");
			document.form.name.focus();
		}else{
			document.form.submit();
		}
	}
</script>
</head>
<body>
	<h1>비밀번호 찾기</h1>
	<div th:replace="/fragments/layout::fragment-body-menu"></div> 
	<form name="form" method="post">
		<table border="1">
			<tr><th colspan="2">정보 입력해줘요</th></tr>
			<tr>
				<td>이메일</td><td><input type="email" name="email"></td>
			</tr>
			<tr>
				<td>이름</td><td><input type="text" name="name"></td>
			</tr>
		</table>
		<input type="button" value="비밀번호 초기화 요청" onclick="javascript:check()">
		<input type="reset" value="내용 지우기">
	</form>
</body>
</html>