<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>관리자 회원관리</title>
<style>
	.list table{
		width: 100%;
		border-collapse:collapse;
	}
	.list th, .list td{
		border:1px solid #000;
	}
	.searchList{
		padding: 5px 3px 5px 0;
		text-align:right;
		position:relative;
	}
	.searchList .total-count{
		float:left;
		position: absolute;
		left: 0px;
		top:0px;
		font-weight: 700;
		margin:10px;
	}
	.pager{
		text-align:center;
		margin:20px;
	}
	.pager .on{
		color: tomato;
	}
</style>
</head>
<body>
	<h1>관리자 회원관리</h1>
	<div>
		<a href="/admin/main.do">관리자 메인</a>
		|
		<a href="/admin/member/list.do">회원 관리</a>
		|
		<a href="#">카테고리 관리</a>
		|
		<a href="#">강의 관리</a>
		|
		<a href="/member/logout">로그아웃</a>
		<br>
		<hr/>
	<div class="list">
		<div class="searchList">
			<p class="total-count">
				전체 게시물:<span th:text="${totalCount}"></span>개
			</p>
			<form method="get">
				<select name="searchType">
					<option th:selected="${param.searchType eq all}"  value="all">전체</option>
					<option th:selected="${param.searchType eq eamil}" value="email">이메일</option>
					<option th:selected="${param.searchType eq name}" value="name">이름</option>
					<option th:selected="${param.searchType eq phone}" value="phone">연락처</option>
				</select>
				<input type="search" name="searchValue">
				<button type="submit">검색</button>
			</form>
		</div>
		<table>
			<thead>
				<tr>
					<th>NO</th>
					<th>이메일</th>
					<th>이름</th>
					<th>연락처</th>
					<th>가입일</th>
					<th>이메일 인증여부</th>
					<th>관리자 여부</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each ="li : ${list}">
					<td th:text="${li.seq}"></td>
					<td th:text="${li.email}"></td>
					<td th:text="${li.name}"></td>
					<td th:text="${li.phone}"></td>
					<td th:text="${li.logDt}"></td>
					<td th:text="${li.emailAuthYn}"></td>
					<td>
						<p th:if="${li.adminYn}">Y</p>
						<p th:if="${li.adminYn eq false}">N</p>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="pager" th:utext="${pager}"><!-- utext로해야 html형식이 명확히 잘 나온다. -->
		</div>
	</div>
</body>
</html>